@page "/card/{id}"

@using OMH_Player_Cards.Components.Entities
@using OMH_Player_Cards.Components.Services
@inject ICsvService _service

<PageTitle>Player Card</PageTitle>

<h1 style="text-align: center">@SelectedPlayer.Player</h1>

<div class="player-card">
    <div class="row">
        <div class="header-box">
            <p><strong>Team:</strong> @SelectedPlayer.Team</p>
        </div>
        <div class="header-box">
            <p><strong>Position:</strong> @SelectedPlayer.Position</p>
        </div>
    </div>
    <div class="stat-boxes">
        <!-- Add more info-boxes for other general information -->
        @foreach (var property in typeof(PlayerStat).GetProperties().Skip(4))
        {
            var propertyName = property.Name;
            var propertyValue = property.GetValue(SelectedPlayer);
            <div class="row">
                <div class="info-box">
                    <p>@propertyName</p>
                </div>
                <div class="stat-box" style="background:@TextColor(propertyValue);">
                    <p><strong>@propertyValue</strong></p>
                </div>
            </div>

        }
    </div>
</div>

@code {
    [Parameter]
    public string ID { get; set; }

    PlayerStat SelectedPlayer = new PlayerStat();

    protected override void OnInitialized()
    {
        SelectedPlayer = _service.SelectPlayer(ID) ?? new PlayerStat();
        base.OnInitialized();
    }

    private string TextColor(object? text)
    {
        if (text is not null)
        {
            string textVal = text.ToString();
            if (textVal.Contains("%"))
                textVal = textVal.Remove(textVal.Length - 1, 1);
            if (double.TryParse(textVal, out double value))
            {
                switch (value)
                {
                    case var _ when value < 10:
                        return "#e74c3c";
                    case var _ when value < 50:
                        return "#E16C0B";
                    case var _ when value < 70:
                        return "#6ED10B";
                    default: return "#13D603";
                }
            }
        }

        return "#FFFFFF";
    }
}
